server:
  port: 8082

spring:
  application:
    name: user-service
  jackson:
    default-property-inclusion: non_null
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false