# Copy this file to terraform.tfvars and replace values

app_domain_name    = "nexa.zdelar.com"
root_domain_name   = "zdelar.com"
notification_email = "nexa@zdelar.com"
email_domain_name  = "zdelar.com"
environment = "dev"
aws_region  = "eu-central-1"